// Mixin
// Posizione standard
@mixin posStandard {
    position: relative;
    z-index: 100;
}
// Centratura generale
@mixin centering($padUp, $padDown) {
    padding: $padUp 30px $padDown;
}
// Container
@mixin container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2%;
}
// Btn standard
@mixin btnStandard($bg-col, $col, $bord-col) {
    display: inline-block;
    padding: 17px 40px;
    font-size: 18px;
    font-family: $ptsans-font;
    background-color: $bg-col;
    color: $col;
    border: 1px solid $bord-col;
    border-radius: 3px;
    transition: all 0.4s;
}

// Variables
// Colors
$main-bg-color: #292d39;
$view-bg-color: #eb4b54;
$light-gray: #323844;
$para-text: #7d7b8d;

// Fonts
$merri-font: 'Merriweather', serif;
$montserrat-font: 'Montserrat', sans-serif;
$ptsans-font: 'PT Sans', sans-serif;