// File inclusi
@import 'partials/variables';
@import 'partials/homepage';

// Proprietà generali
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #272b34;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

// Proprietà header
header{
    height: 137px;
    width: 100%;
    @include centering(0,0);
    background-color: orange;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .container{
        width: 100%;
        padding: 0 2%;
        display: flex;
        justify-content: space-between;

        img{
            vertical-align: middle;
        }

        .hamburger{
            background-color: transparent;
            border: 0px solid transparent;
            font-size: 30px;
            cursor: pointer;
            .fa-times{
                display: none;
            }
        }
    }
}