// File inclusi
@import 'partials/variables';
@import 'partials/homepage';

// Proprietà generali
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $main-bg-color;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

// Proprietà header
header{
    min-height: 137px;
    width: 100%;
    @include centering(0,0);
    background-color: orange;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .container{
        @include container;
        flex-wrap: wrap;

        img{
            vertical-align: middle;
        }

        .hamburger{
            background-color: transparent;
            border: 0px solid transparent;
            font-size: 30px;
            cursor: pointer;
            .fa-times{
                display: none;
            }
        }
        .menu-nav{
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100vh;
            visibility: hidden;
            background-color: red;
            opacity: 0;
            transition: opacity 0.7s;
            @include centering(137px, 20px);
            text-align: center;
            overflow-y: auto;
            li{
                margin-bottom: 50px;
                font-size: 40px;
                a{
                    color: white;
                }
            }
        }
        .hamburger:focus + .menu-nav{
            visibility: visible;
            opacity: 1;
        }
    }
}

// Proprietà footer
footer{
    @include posStandard;
    
    .nav-footer{
        @include centering(50px, 50px);
        height: 190px;
        color: white;
        background-color: darkblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .container{
            @include container;

            img{
                vertical-align: middle;
            }
            ul{
                display: flex;
                align-items: center;
                li{
                    display: inline-block;
                    a{
                        color: white;
                        margin-left: 15px;
                    }
                }
            };
        }
    }

    .terms{
        @include centering (30px, 30px);
        @include posStandard;
        background-color:slateblue;
        .container{
            @include container;
            height: 40px;
            display: flex;
            align-items: center;
            
            li{
                display: inline-block;
            }
            li:not(.socials li){
                font-size: 14px;
                padding:0 10px;
                border-right: 1px solid grey;
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    border-right: 0px;
                }
            }

            .socials li{
                width: 40px;
                height: 40px;
                border-radius: 5px;
                background-color: teal;
                text-align: center;
                i{
                    line-height: 40px;
                    font-size: 18px;
                    color:grey;
                }
            }
        }
    }
}